@{
    int a;
    if (Session["Card"] != null)
    {
        a = ((E_Ticaret_Entity.Entity.Card)Session["Card"]).Cardlines.Count;
    }
    else
    {
        a = 0;
    }
}


@if (Request.IsAuthenticated)
{
    //kullanıcı Adı logout
    <ul class="navbar-nav my-2 my-lg-0">
        

        <li class="nav-item active">
            <a class="nav-link dropdown-toggle dropdown-toggle-split dropdown-menu-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                <i class="fa  fa-cart-plus ">&nbsp (@a)</i>
            </a>
            <div class="btn-group">
                <div class="dropdown-menu pr-lg-5">
                    @Html.Action("CardMenu","Card")
                   
                </div>
            </div>

        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Index">@User.Identity.Name</a>
        </li>
        @if (User.IsInRole("admin"))
        {
            <li class="nav-item active">
                <a class="nav-link" href="/Category/Index">Admin Page</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" href="/Account/Logout">Logout</a>
        </li>

    </ul>
}
else
{
    //login ve register
    <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item active">
            <a class="nav-link dropdown-toggle dropdown-toggle-split dropdown-menu-rightka" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                <i class="fa  fa-cart-plus ">&nbsp (@a)</i>
            </a>
            <div class="btn-group">
                <div class="dropdown-menu pr-lg-5">
                    @Html.Action("CardMenu", "Card")

                </div>
            </div>

        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Account/Register">Register</a>
        </li>

    </ul>
}


